body {
  margin: 0;
}

header , footer{
  z-index: 10;
  top: 0;
  width: 100%;
  color: white;
  line-height: 6vh;
  font-size: 4vh;
  text-align:center;
  height: 6vh;
}

header {
  white-space: nowrap;
  background-color: #3cb;
}

footer {
  background-color: #444;
}

header nav ul li{
  flex-wrap: wrap;
  margin: 0 20px;
  display: inline-block;
}

header nav ul li i{
  display: none;
  color: #1D9BF0;
}

main a {
  color: #27E;
}

a {
  text-decoration: none;
}

footer a ,header a{
  color: white;
}

body header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

article {
  padding: 16px;
}

.fa-brands:before {
  display: none;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

th, td {
  border: 1px solid #333;
}

p span {
  color: red;
}

@media all and (max-width: 1000px) {
  header nav ul li a{
    display: none;
  }
  .fa-brands:before {
    display: block;
  }
}
